html, body {
    background-color: rgb(243,204,017);
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    color: rgb(0,0,0);
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size:18px;
    
}

div.top-nav {
    background-color: rgb(247,85,51);
    width: 100%;
    height: 50px;
    display: flex;
    flex: 0 1 auto;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items:center;
}

a.top-nav__link {
    cursor: pointer;
    box-sizing: border-box;
    line-height: 50px;
    text-align: center;
    white-space: nowrap;
    padding: 0px 15px;
    color: rgb(255,219,180);
    text-decoration: none;
}

    a.top-nav__link:hover {
        color: rgb(255,255,255);
        text-decoration: underline;
    }